/*Fonts Used*/

@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

 :root { 
--txt1: 'Quicksand', sans-serif;
--txt2: 'Gorditas', cursive;
--black: #808080; 
--color1: #1099fe; 
--color2: #01bf84; 
--color3: #fba017; 
--color4: #fb1717; 
 } 



#imgList { display: none; } 

*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast; } 

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust: 100%; } 


/* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; } input:not([type='radio']):not([type='checkbox']), textarea, select { -webkit-appearance: none; } form, label { -webkit-text-size-adjust: 100%; } mark { background-color: transparent; color: inherit; } /* end reset */


h2 { font-family: var(--txt2); line-height: 100%; } 
.wrapper { width:100%; max-width:1400px; margin:0 auto; position:relative; } 


#banner{}
.wrapper{}

.hdng_h2 { font-size: 70px; font-weight: 400; font-family: var(--txt2); margin-bottom: 20px; line-height: 120%; } 
.hdng_small { font-size: 22px; font-weight: 500; display: block; font-family: var(--txt1); letter-spacing: normal;} 
.edit-link a,.btn_style { width: 100%; text-align: center; max-width: fit-content; line-height: 69px; padding: 0 25px; background: var(--color3); display: block; color: #fff; font-size: 18px; font-weight: 400; margin-top: 23px; position: relative; z-index: 0; font-family: var(--txt2); border-radius: 150px;padding-right: 83px;text-align: left;} 
.edit-link a:hover,.btn_style:hover { background: var(--color2); } 


#banner { position: relative;} 

#banner .airplane {position: absolute;bottom: 11px;right: 9.4%;z-index: 2;}

.bnr_con { min-height:0; padding:0; } 
.box_skitter { display: block; } 
.box_skitter .prev_button,.box_skitter .next_button { pointer-events: auto; } 
.rslides { display: none; } 
.slider { width:1920px; left: 50%; position: relative; transform: translateX(-50%); height: 990px;} 
.slider:before{content:'';position: absolute;inset: 0;backdrop-filter: blur(80px);z-index: 1;}
.blob{position: absolute;outline: 1px dashed red;border-radius: 50%; animation: gradient 4s infinite;}
.blob1{width: 56%;height: 51%;left: -200px;top: -100px;background: var(--color1); animation-delay: 1s;}
.blob2{width: 76%;height: 69%;right: -200px;top: -100px;background: var(--color2); animation-delay: .2s;}
.blob3{width: 62%;height: 83%;left: -200px;bottom: -100px;background: var(--color3); animation-delay: 2s;}
.blob4{width: 80%;height: 71%;right: -200px;bottom: -100px;background: var(--color4); animation-delay: 5s;}
.blob5{width: 40%;aspect-ratio: 1 / 1;background: #440baf; animation-delay: 5s;left: 50%;top: 50%;transform: translate(-50%,-50%);animation: gradient2 4s infinite alternate; transform-origin: 0 0;}

@keyframes gradient { 70%{ transform: scale(1.3) translate(50px); } }
@keyframes gradient2 { 70%{ transform: scale(0.5) translate(-50%,-50%); } }


.slider a { pointer-events: none; } 
.bnr_info { width:100%; max-width:546px; position:absolute; top:244px; left:0; z-index:150;display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;right: 0;
    margin: auto; color: #fff;} 
.bnr_info:before{content:'';position: absolute;inset: 20px;border-radius: 50%;border: 4px dashed var(--colorGreen);}
.bnr_info h2 { font-size: 60px;} 
.bnr_info h2 small { } 
.bnr_info h2 span { font-size: inherit; font-family: inherit; font-weight: inherit; display: block;line-height: 100%;} 

.bnr_info p { max-width: 290px;margin: 0 auto;} 
.bnr_info a { max-width: 261px; padding: 0;text-align: center;} 
.bnr_info a:hover { } 