/*============ Google fonts ============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======= CSS variables =======*/
:root{
  --white-color: #fff;
  --dark-color: #333;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: ;

  --text-shadow: ;
  --box-shadow: ;

  --scroll-bar-color: ;
  --scroll-thumb-color: ;
  --scroll-thumb-hover-color: ;
}

/*======= Scroll bar =======*/

/*======= Main CSS =======*/
*{padding: 0;margin: 0;box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
/*======= Header =======*/

/*======= Home =======*/
body{max-width: 1920px; margin: auto;}
.wrapper{max-width: 1375px; position: relative;margin: auto;width: 100%;}
#banner{padding: 0 10px;}


.slider{height: 700px; width: 101vw; position: relative; left: 50%; transform: translateX(-50%); max-width: 1920px;}

.swiper-slide > figure:before{position: absolute; inset: 0; background: #00000077;  content:''; backdrop-filter: blur(20px);}

.swiper-slide .flex_con{display: flex;gap: 20px; justify-content: space-between; align-items: center; height: 100%;}
.swiper-slide .flex_con figure{max-width: 550px; height: 600px; border-radius: 20px; overflow: hidden;}
.swiper-slide .bnr_info{color:#fff;}

.swiper-slide .bnr_info h2{font-size: 4em;font-weight: 700;margin-bottom: 30px; transform: translateY(-50px); opacity: 0;}
.swiper-slide-active .bnr_info h2{ transform: translateY(0px); opacity: 1;  transition: 1s ease; transition-delay: .3s; transition-property: transform,opacity; }

.swiper-slide .bnr_info h2 span{font-size:0.3em;font-weight: 700;}

.swiper-slide .bnr_info p{ max-width: 700px;backdrop-filter: blur(10px); border-radius: 20px;margin-bottom: 30px; transform: translateX(-80px); opacity: 0;}
.swiper-slide-active .bnr_info p{ transform: translateX(0px); opacity: 1;  transition: 1s ease; transition-delay: .3s; transition-property: transform,opacity;}

.swiper-slide .bnr_info button{transform: translateX(50px); opacity: 0;}
.swiper-slide-active .bnr_info button{transform: translateX(0px); opacity: 1;  transition: 1s ease; transition-delay: .3s; transition-property: transform,opacity;}

.bg-slider-thumbs{position: absolute; bottom: 30px; left: 0;right: 0;margin: auto; z-index: 777; max-width: fit-content; transition: .3s ease;}
.thumbs-container{background: #33333331; backdrop-filter: blur(10px);padding: 10px;border-radius: 10px;max-width: fit-content;}
.thumbs-container figure{width: 50px; height: 35px; margin: 0 5px; border-radius: 10px; overflow: hidden; cursor: pointer;}
.swiper-slide-thumb-active{box-shadow: 0 0 0 2px #fff;}



/* next and prev */

.swiper-button-next, .swiper-button-prev{ color: red;}
.swiper-button-next{right: 50px;}
.swiper-button-prev{left: 50px;}


  /* button customize */
  .swiper-button-next, .swiper-button-prev{ width: 50px; height: 50px;}  
  .swiper-button-prev:after{background: url(images/swiper/prev.jpg); background-size:cover ; width: 100%; height: 100%; color: transparent;}
  .swiper-button-next:after{background: url(images/swiper/next.jpg); background-size:cover ; width: 100%; height: 100%; color: transparent;}

/* animation */

